//
// style.sass
//

body
  font: 16px "Lucida Grande", Arial, sans-serif
  background: white
  color: #333

img
  background-image: red //linear-gradient(rgba(0, 0, 0, 1.0), transparent)
  position: fixed
  top: 5em
  right: 5em
  width: 100px
  filter: drop-shadow(3px 3px 2px silver)

h1
  filter: drop-shadow(3px 3px 2px silver)

.controls
  display: block
  margin: 12em auto
  text-align: center
  width: fit-content
  h1
    font-size: 3em
    margin: 0

.buttons
  // margin: 0.5em 0 0 0
  .material-icons
    cursor: pointer
    font-size: 4em
    margin: 0

.text
  margin: 1em 0 0 0
  div
    border: none
    display: block
    font-size: 2em
    margin: 0 auto 
    text-align: left
    max-width: 80vh
    width: fit-content
  #title
    text-align: center
    color: #4099
  #body
    padding-top: 0.5em
    